header {
  display: block;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

header h1 {
  color: white;
  display: inline-block;
  padding: 5px 30px;
  font-size: 22px;
}

header a {
  float: right;
}

header,
section,
footer {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

section {
  color: #101010;
  display: block;
}

section h2 {
  position: relative;
  text-align: center;
  font-size: 38px;
  font-weight: normal;
  padding: 5px 30px;
}

footer {
  color: #606060;
}
