.heading {
  display: flex;
  margin: 10px;
}

.icon {
  flex: 0;
}

.mainDetails {
  flex: 1;
  margin: 0 20px;
  vertical-align: top;
}

.mainDetails h3 {
  margin: 0;
}

.dateRange,
.techList {
  color: #606060;
  font-size: 14px;
}
