.profile {
  margin: 80px auto 10px auto;
  max-width: 660px;
  text-align: justify;
  display: flex;
  padding: 0;
}

.profile img {
  height: 180px;
  width: auto;
  text-align: top;
  margin-right: 30px;
}
