@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.jobContainer {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.companyDetails {
  display: inline-block;
  margin: 0 20px;
}

.companyDetails h3 {
  margin: 0;
}

.dateRange,
.technologies {
  color: #606060;
}
