.jobContainer {
  max-width: 1200px;
  margin: 30px auto 60px auto;
}

.companyDetails {
  display: inline-block;
  margin: 0 20px;
}

.companyDetails h3 {
  margin: 0;
}

.dateRange,
.technologies {
  color: #606060;
}

.sliderContainer {
  margin: 20px 40px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.slideContainer {
  /* background-color: #eee; */
  height: 240px;
  overflow: hidden;
}

.slide {
  margin: 20px;
}

.slide h4 {
  text-align: center;
  margin: 0;
}
