@value mobile-up from "../../../../styles/breakpoints.css";

.flexContainer {
  position: relative;
  flex: 0 0 60px;
  transition: flex-basis 0.2s;
}

.flexContainer nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  display: block;
  background-color: #000;
  color: white;
  height: 100vh;
  transition: transform 0.2s;
  transform: translateX(240px);
  padding-top: 60px;
  opacity: 0.9;
  will-change: transform;
  z-index: 3;
}

.flexContainer.open nav {
  transform: translateX(0);
}

.refinements {
  transition: transform 0.2s;
  transition-delay: 0.1s;
  transform: translateX(80px);
}

.flexContainer.open .refinements {
  transform: translateX(0);
}
