.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  z-index: 1000;
  overflow: hidden;
}

.modal {
  background-color: #fff;
  max-width: 900px;
  min-height: 300px;
  max-height: 90vh;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.close {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
}
