@value tablet-up from "../../../styles/breakpoints.css";
@value desktop-up from "../../../styles/breakpoints.css";

:root {
  --icon-size-small: 30px;
  --logo-size-small: 90px;
  --icon-size-medium: 32px;
  --logo-size-medium: 100px;
  --icon-size-large: 36px;
  --logo-size-large: 112px;
}

.icon {
  display: inline-block;
  text-indent: -100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: var(--icon-size-small);
  width: var(--icon-size-small);
  background-size: contain;
  border: none;
  overflow: hidden;
}

.logo {
  display: inline-block;
  text-indent: -100%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-position: top;
  height: 40px;
  width: 40px;
}

@media (tablet-up) {
  .icon {
    height: var(--icon-size-medium);
    width: var(--icon-size-medium);
  }
  .logo {
    height: 56px;
    width: 56px;
  }
}

@media (desktop-up) {
  .icon {
    height: var(--icon-size-large);
    width: var(--icon-size-large);
  }

  .logo {
    height: 64px;
    width: 64px;
  }
}

.plus {
  composes: icon;
  background-image: url("./plus.svg");
  height: 24px;
  width: 24px;
}

.minus {
  composes: icon;
  background-image: url("./minus.svg");
  height: 24px;
  width: 24px;
}

.cross {
  composes: icon;
  background-image: url("./cross.svg");
  height: 28px;
  width: 28px;
}

.prev {
  composes: icon;
  background-image: url("./prev.svg");
  height: 24px;
  width: 24px;
}

.next {
  composes: icon;
  background-image: url("./next.svg");
  height: 24px;
  width: 24px;
}

.github {
  composes: icon;
  background-image: url("./github.svg");
  height: 32px;
  width: 32px;
}

.angellist {
  composes: icon;
  background-image: url("./angellist.svg");
  height: 32px;
  width: 32px;
}

.linkedin {
  composes: icon;
  background-image: url("./linkedin.svg");
  height: 32px;
  width: 32px;
}

.html5 {
  composes: icon;
  background-image: url("./html5.svg");
}
.css3 {
  composes: icon;
  background-image: url("./css3.svg");
}
.javascript {
  composes: icon;
  background-image: url("./javascript.svg");
}
.react {
  composes: icon;
  background-image: url("./react.svg");
}
.nodejs {
  composes: icon;
  background-image: url("./nodejs.svg");
}
.express {
  composes: icon;
  background-image: url("./express.svg");
}
.webpack {
  composes: icon;
  background-image: url("./webpack.svg");
}
.xbrowser {
  composes: icon;
  background-image: url("./xbrowser.svg");
}
.photoshop {
  composes: icon;
  background-image: url("./photoshop.svg");
}
.git {
  composes: icon;
  background-image: url("./git.svg");
}
.php {
  composes: icon;
  background-image: url("./php.svg");
}
.mongodb {
  composes: icon;
  background-image: url("./mongodb.svg");
}
.a11y {
  composes: icon;
  background-image: url("./a11y.svg");
}
.sass {
  composes: icon;
  background-image: url("./sass.svg");
}
.mysql {
  composes: icon;
  background-image: url("./mysql.svg");
}
.redux {
  composes: icon;
  background-image: url("./redux.svg");
}
.jest {
  composes: icon;
  background-image: url("./jest.svg");
}
.heroku {
  composes: icon;
  background-image: url("./heroku.svg");
}
.babel {
  composes: icon;
  background-image: url("./babel.svg");
}
.docker {
  composes: icon;
  background-image: url("./docker.svg");
}
.scalability {
  composes: icon;
  background-image: url("./scalability.svg");
  height: calc(var(--icon-size-small) - 2px);
  height: calc(var(--icon-size-small) - 2px);
}

@media (tablet-up) {
  .scalability {
    height: calc(var(--icon-size-medium) - 3px);
    width: calc(var(--icon-size-medium) - 3px);
  }
}

@media (desktop-up) {
  .scalability {
    height: calc(var(--icon-size-large) - 4px);
    width: calc(var(--icon-size-large) - 4px);
  }
}

.responsive {
  composes: icon;
  background-image: url("./responsive.svg");
}

.performance {
  composes: icon;
  background-image: url("./performance.svg");
}
.cssmodules {
  composes: icon;
  background-image: url("./cssmodules.png");
  height: calc(var(--icon-size-small) + 2px);
  width: calc(var(--icon-size-small) + 2px);
}

@media (tablet-up) {
  .cssmodules {
    height: calc(var(--icon-size-medium) + 3px);
    width: calc(var(--icon-size-medium) + 3px);
  }
}

@media (desktop-up) {
  .cssmodules {
    height: calc(var(--icon-size-large) + 4px);
    width: calc(var(--icon-size-large) + 4px);
  }
}

.asos {
  composes: logo;
  background-image: url("./asos.svg");
}
.first-utility {
  composes: logo;
  background-image: url("./first-utility.svg");
}
.mydeco {
  composes: logo;
  background-image: url("./mydeco.svg");
}
.openbet {
  composes: logo;
  background-image: url("./openbet.svg");
}

.creative {
  composes: logo;
  background-image: url("./creative.svg");
}

.home-office {
  composes: logo;
  background-image: url("./home-office.png");
}

.tfl {
  composes: logo;
  background-image: url("./tfl.svg");
}

.three {
  composes: logo;
  background-image: url("./three.svg");
}

.vodafone {
  composes: logo;
  background-image: url("./vodafone.svg");
}

.royal-navy {
  composes: logo;
  background-image: url("./royal-navy.png");
}

.rgs {
  composes: logo;
  background-image: url("./rgs.svg");
}

.soton {
  composes: logo;
  background-image: url("./soton.svg");
}

.devon {
  composes: logo;
  background-image: url("./devon.svg");
  height: 50px;
  width: 120px;
}

.verve {
  composes: logo;
  background-image: url("./verve.svg");
}

.maritime {
  composes: logo;
  background-image: url("./maritime.svg");
}

.woty {
  composes: logo;
  background-image: url("./woty.jpg");
}

.globe {
  composes: logo;
  background-image: url("./globe.svg");
}
