:root {
  --icon-size: 36px;
  --logo-size: 112px;
}

.icon {
  display: inline-block;
  text-indent: -100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: var(--icon-size);
  width: var(--icon-size);
  background-size: contain;
}

.logo {
  display: inline-block;
  text-indent: -100%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-position: center;
  height: 64px;
  width: 64px;
}

.github {
  composes: icon;
  background-image: url("./github.svg");
  height: 32px;
  width: 32px;
}

.angellist {
  composes: icon;
  background-image: url("./angellist.svg");
  height: 32px;
  width: 32px;
}

.linkedin {
  composes: icon;
  background-image: url("./linkedin.svg");
  height: 32px;
  width: 32px;
}

.html5 {
  composes: icon;
  background-image: url("./html5.svg");
}
.css3 {
  composes: icon;
  background-image: url("./css3.svg");
}
.javascript {
  composes: icon;
  background-image: url("./javascript.svg");
}
.react {
  composes: icon;
  background-image: url("./react.svg");
}
.nodejs {
  composes: icon;
  background-image: url("./nodejs.svg");
}
.express {
  composes: icon;
  background-image: url("./express.svg");
}
.webpack {
  composes: icon;
  background-image: url("./webpack.svg");
}
.xbrowser {
  composes: icon;
  background-image: url("./xbrowser.svg");
}
.photoshop {
  composes: icon;
  background-image: url("./photoshop.svg");
}
.git {
  composes: icon;
  background-image: url("./git.svg");
}
.php {
  composes: icon;
  background-image: url("./php.svg");
}
.mongodb {
  composes: icon;
  background-image: url("./mongodb.svg");
}
.a11y {
  composes: icon;
  background-image: url("./a11y.svg");
}
.sass {
  composes: icon;
  background-image: url("./sass.svg");
}
.mysql {
  composes: icon;
  background-image: url("./mysql.svg");
}
.redux {
  composes: icon;
  background-image: url("./redux.svg");
}
.jest {
  composes: icon;
  background-image: url("./jest.svg");
}
.heroku {
  composes: icon;
  background-image: url("./heroku.svg");
}
.babel {
  composes: icon;
  background-image: url("./babel.svg");
}
.docker {
  composes: icon;
  background-image: url("./docker.svg");
}
.cssmodules {
  composes: icon;
  background-image: url("./cssmodules.png");
  height: 40px;
  width: 40px;
}
.asos {
  composes: logo;
  background-image: url("./asos.svg");
  height: 40px;
  width: var(--logo-size);
}
.first-utility {
  composes: logo;
  background-image: url("./first-utility.svg");
}
.mydeco {
  composes: logo;
  background-image: url("./mydeco.svg");
  height: 40px;
  width: 120px;
}
.openbet {
  composes: logo;
  background-image: url("./openbet.svg");
}

.creative {
  composes: logo;
  background-image: url("./creative.svg");
}

.home-office {
  composes: logo;
  background-image: url("./home-office.png");
}

.tfl {
  composes: logo;
  background-image: url("./tfl.svg");
}

.three {
  composes: logo;
  background-image: url("./three.svg");
}

.vodafone {
  composes: logo;
  background-image: url("./vodafone.svg");
}

.royal-navy {
  composes: logo;
  background-image: url("./royal-navy.png");
}

.rgs {
  composes: logo;
  background-image: url("./rgs.svg");
}

.soton {
  composes: logo;
  background-image: url("./soton.svg");
  height: 50px;
  width: 120px;
}

.devon {
  composes: logo;
  background-image: url("./devon.svg");
  height: 50px;
  width: 120px;
}

.verve {
  composes: logo;
  background-image: url("./verve.svg");
}
