@value mobile-up from "../../../../styles/breakpoints.css";
@value tablet-up from "../../../../styles/breakpoints.css";
@value desktop-up from "../../../../styles/breakpoints.css";

.skills {
  padding-top: 0;
}

.skills ul {
  list-style: none;
  column-count: 2;
  margin-left: 12%;
  margin-right: -4%;
  padding: 0;
}

.skills li {
  line-height: 36px;
  position: relative;
  padding: 8px;
  padding-left: 42px;
}

.skills li span {
  position: absolute;
  left: 0px;
}

@media (mobile-up) {
  .skills ul {
    list-style: none;
    column-count: 3;
    margin-left: 8%;
    margin-right: 0;
  }

  .skills li {
    padding-left: 44px;
  }
}

@media (tablet-up) {
  .skills ul {
    margin-left: 12.5%;
  }
}

@media (desktop-up) {
  .skills ul {
    list-style: none;
    column-count: 4;
    margin-left: 7%;
    margin-right: 0;
  }

  .skills li {
    padding-left: 58px;
  }
}
