@value mobile-up from "../../../../../styles/breakpoints.css";
@value tablet-up from "../../../../../styles/breakpoints.css";
@value desktop-up from "../../../../../styles/breakpoints.css";

.jobContainer {
  max-width: 900px;
  margin: 30px auto 40px auto;
  display: flex;
  margin: 0;
  padding: 20px 0;
}

.iconContainer {
  flex: 0;
  flex-basis: 64px;
  text-align: center;
}

.contentContainer {
  flex: 1;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
  transition: height 1s ease-in-out;
  overflow: hidden;
  position: relative;
}

@media (tablet-up) {
  .iconContainer {
    flex-basis: 100px;
  }

  .contentContainer {
    margin-right: 40px;
  }
}

@media (desktop-up) {
  .iconContainer {
    flex-basis: 140px;
  }
}

.jobContainer:last-of-type .contentContainer {
  border-bottom: none;
}

h3 {
  margin: 0;
}

.dateRange,
.techList {
  color: #606060;
}

.expand {
  position: absolute;
  right: 10px;
  top: 16px;
  cursor: pointer;
  background-color: #101010;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: white;
  height: 18px;
  width: 18px;
}

.expandable {
  max-height: 0px;
  overflow: hidden;
}

.expandable.open {
  max-height: none;
}

.sliderContainer {
  margin: 0 -10px;
  padding-bottom: 40px;
}

.head {
  padding-bottom: 20px;
  cursor: pointer;
}
