.jobContainer {
  max-width: 900px;
  margin: 30px auto 40px auto;
  display: flex;
  margin: 0;
  padding: 30px 0;
}

.iconContainer {
  flex: 0;
  flex-basis: 140px;
  text-align: center;
}

.contentContainer {
  flex: 1;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  transition: height 1s ease-in-out;
  overflow: hidden;
  position: relative;
}

.jobContainer:last-of-type .contentContainer {
  border-bottom: none;
}

h3 {
  margin: 0;
}

.dateRange,
.techList {
  color: #606060;
}

.expand {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  cursor: pointer;
}

.expandable {
  max-height: 0px;
  overflow: hidden;
}

.expandable.open {
  max-height: none;
}
