@value mobile-up from "../styles/breakpoints.css";

.flexContainer {
  position: relative;
  flex: 0 0 60px;
  transition: flex-basis 0.2s;
}

.positionContainer {
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.flexContainer nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  display: block;
  background-color: #101010;
  color: white;
  height: 100vh;
  transition: transform 0.2s;
  transform: translate(-240px, 0);
  padding-top: 60px;
}

.flexContainer.open nav {
  transform: translate(0, 0);
}

@media(mobile-up) {
  .flexContainer.open {
    flex: 0 0 300px;
  }

  .flexContainer nav {
    position: fixed;
    -webkit-backface-visibility: hidden;
  }
}