.container {
  position: relative;
  flex: 0 0 60px;
  transition: flex-basis 0.2s;
}

.container.open {
  flex: 0 0 300px;
}

.container nav {
  z-index: 1;
  position: fixed;
  width: 300px;
  display: block;
  background-color: #101010;
  color: white;
  height: 100vh;
  transition: transform 0.2s;
  transform: translate(-240px, 0);
  padding-top: 60px;
}

.container.open nav {
  transform: translate(0, 0);
}
