@value tablet-up from "../../../../styles/breakpoints.css";
@value desktop-up from "../../../../styles/breakpoints.css";

section.education {
  padding: 0;
}

@media (tablet-up) {
  section.education {
    padding: 0 20px;
  }
}

.educationContainer {
  margin: 30px auto 40px auto;
  display: flex;
  margin: 0;
  margin: 20px 0;
}

.iconContainer {
  flex: 0;
  flex-basis: 64px;
  text-align: center;
}

.contentContainer {
  flex: 1;
  margin-right: 40px;
  border-bottom: 1px solid #ccc;
  transition: height 1s ease-in-out;
  overflow: hidden;
  position: relative;
}

@media (tablet-up) {
  .iconContainer {
    flex-basis: 100px;
  }

  .contentContainer {
    margin-right: 40px;
  }
}

@media (desktop-up) {
  .iconContainer {
    flex-basis: 140px;
  }
}

.educationContainer:last-of-type .contentContainer {
  border-bottom: none;
}

.subjectList {
  list-style: none;
  padding: 0;
}

.dateRange,
.techList {
  color: #606060;
}
